body{
  background-color: #597777;
  font-size: 14px;
  line-height: 1.4;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

 hr {
    border: dotted #9cb5b5;
    border-width: 2px 0 0;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    box-sizing: content-box;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
li{
  color: #fff;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;

}
p{
  color: #fff;
}
