.card{
    border: groove;
}
.holder{
    background-color: #7E9E9E;
    height: 250px;
    margin-top: 20px;
    border-bottom: 2px solid #fff;
    padding: 30px;
    text-align: center;
    color: #fff;
}

ul{
    list-style: none;
  }

 

