.about{
  text-align: center;
  width: 800px;
  padding-left: 150px;
  padding-top: 50px;
}

#home{
  width: 600px;
  text-align: center;
  margin-top: 100px;
  padding-left: 50px;
  margin-left: 200px;
  border: 1px 
  
}
