.about{
  text-align: center;
  width: 800px;
  padding-left: 150px;
  padding-top: 50px;
  background-image: url(../background-images/website-background-ideas.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: max-content;
  height: max-content;
}

#home{
  width: 600px;
  text-align: center;
  margin-top: 100px;
  padding-left: 50px;
  margin-left: 200px;
  border: 1px 
  
}

.car{
  background-image: url(../background-images/pngtree-julie-super-super-sports-car-show-poster-background-image_143925.jpg);

}
