.about{
    border: groove;
}
.holder{
    background-color: #7E9E9E;
    height: 250px;
    margin-top: 20px;
    border-bottom: 2px solid #fff;
    padding: 30px;
    text-align: center;
    color: #fff;
}

ul{
    list-style: none;
  }
ol{
    list-style: none;
}
.sport{
  text-align: center;
  background-image: url(../background-images/5a44c7559fd3c_thumb900.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 70%;
  color:white;
  position: relative;

}
 
.sport p{
    position: absolute;


}

