.about{
  text-align: center;
  background-image: url(../background-images/download\ \(3\).jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.car{
  text-align: center;
  background-image: url(../background-images/pngtree-auto-show-poster-background-material-image_138690.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%
}